/* Custom CSS */

/* Small screens (up to 576px) */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 18px; /* Adjust the font size as needed */
  }
  .rounded-circle-mobile {
    width: 50%;
  }
}

/* Medium screens and larger (577px and above) */
@media (min-width: 577px) {
  .rounded-circle-mobile {
    width: 100%;
  }
}
