/* Custom CSS */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 18px; /* Adjust the font size as needed */
  }
}

#imageToEnlarge.enlarge {
  transform: scale(1.2); /* Adjust the scale factor as needed */
  transition: transform 0.3s;
  cursor: pointer;
}
